.modal_header{
    background-color: rgb(8, 41, 138);
    color: white;
    font-size: 30px;    
    font-weight: 700;
}

.modal_submenu{
    /* height: 35px; */

    color: black;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 3px solid #2a528a;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 30px;
}

.modal_table_col{
    border: gray 1px solid;
}

.modal_table_header{
    background-color: #124388;
    font-size: 15px;
    font-weight: 700;
    color: white;
}