.dropdown-toggle::after { 
    content: none !important;
} 

/* 헤더 메뉴 */
.header_menu{
    font-family: '맑은 고딕, Malgun Gothic, sans-serif';
    font-size: 18px;    
}

div.footer_list{    
    margin: auto;
}

.footer_img{
    /* vertical-align: middle; */
    text-align: right;
}