img{
    image-rendering: -webkit-optimize-contrast;
    image-rendering: auto;
    image-rendering: -moz-auto;
    image-rendering: -o-auto;
    /* image-rendering: crisp-edges; */
    /* image-rendering: pixelated; */
    /* perspective: 50px; */

    -ms-interpolation-mode: nearest-neighbor;
}

div.ant-row{
  row-gap: 0px !important;
}
.header_login_button{
    color: gray;
    /* background: ; */
    /* border: solid 1px #FCFCFC; */
    /* border-color: #FCFCFC; */
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.header_login_button:hover, .header_login_button:focus{
    color: #01a561;    
    font-weight: bold !important;
    /* background: #FCFCFC; */
    /* border: solid 1px #FCFCFC; */
    border-color: #FCFCFC;
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;    
}

.dropdown_menu_title {
    background-color: transparent;
    width: 100%;
    height: 50px;
    padding: 0px 0px 0px 0px;
    /* margin-bottom: 0px;
    margin-top: 0px; */
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: "Malgun Gothic", "맑은 고딕", "Nanum Gothic", "나눔 고딕", "돋움" !important;
  }
  
  .ant-row{
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
  }
  
  .ant-col{
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
  }
  
  .dropdown_menu_title_button {
    top: 20%;
    height: 60%;
    background-color:  transparent;
    width: 100%;
    padding: 0px 0px 0px 0px;
    border-radius:0px !important;
    margin-right:-2px !important;    
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: "Malgun Gothic", "맑은 고딕", "Nanum Gothic", "나눔 고딕", "돋움" !important;
    border-right: 1px solid #FFFFFF !important;    
    border-bottom: 0px !important;
    border-top: 0px !important;    
  }
  
  .dropdown_menu_title_button:hover {
    background-color: transparent;
    color: rgb(87, 169, 236);
  }
  
  .dropdown_menu_title_row {
    background: linear-gradient(75deg, rgba(255,242,204,1) 0%, rgba(0,176,80,1) 15%, rgba(0,112,192,1) 50%, rgba(0,176,80,1) 85%, rgba(255,242,204,1) 100%);
;
  }
  
  .ant-dropdown-menu {
    padding: 0 0 0 0;
    display: flex !important;
  }
  
  div > li {
    list-style-type: "- ";
    background-color: transparent !important;
    border: none !important;
  }
  
  .ant-collapse-header {
    background-color: transparent !important;
    border: none !important;
  }
  .ant-collapse-header:hover {
    background-color: #00223f !important;
    color: white !important;
    border: none !important;
  }
  
  .ant-collapse-item {
    background-color: transparent !important;
    border: none !important;
  }
  .ant-collapse-item-custom{
    /* border-bottom: 2px solid #30a1724d !important; */
  }
  .ant-collapse {
    background-color: transparent !important;
    border: none !important;
  }
  .ant-collapse-content {
    background-color: transparent !important;
    border: none !important;
  }
  .ant-collapse-content-box {
    background-color: white !important;
    border: none !important;
  }
  
  .row_col18_row_col6_dropdown_content {
    background-color: rgb(255, 255, 255);
    /* border-left: 1px #f3f5ff solid !important; */
    /* border-right: 1px #f3f5ff solid !important; */
  }
  
  .row_col18_row_col6_dropdown_content:hover {
    border-bottom: solid #8ccf9a 5px !important;
    
  }
  
  .ant-collapse-arrow {
    padding-top: 0px !important;
  }
  
  .ant-collapse-arrow > svg {
    padding-top: 12px !important;
  }
  
  .header_others {
    text-align: center;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    font-size: 13px;
    color: #666666 !important;
  }
  
  .header_others > a {
    color: #666666 !important;
  }
  
  .ant-collapse-header {
    padding-right: 16px !important;
    font-size: 14px !important;
    font-weight: bold;
    text-align: center;
  }
  .incomplete {
    color: rgb(175, 175, 175) !important;
  }
  
  .normal_user {
    font-weight: 600;
    font-size: 14px;
    color: black !important;    
  }

  .normal_user:hover{    
    font-weight: bold;
    font-size: 14px;
    color: rgb(39, 56, 211) !important;    
  }

  .ant-collapse-item-active > .ant-collapse-header{
    background-color: #30a172 !important;
    color: white !important;
    /* font-size: 15px !important; */
    /* font-weight: bold !important; */
  }

  .ant-collapse-item-active > div > .ant-collapse-content-box{
    background-color: #f3ffe4 !important;    
  }

  .gradient-border-bottom {
    box-sizing: border-box;
    /* display: inline-block; */
    /* margin: 10px; */
    /* width: 150px; */
    /* height: 150px; */
    border-style: solid;    
    border-image: linear-gradient(to right, rgb(197, 197, 197) 0%, rgb(194, 194, 194) 100%) !important;
    border-image-slice: 1;
    /* background: #f7f7f7 ; */
    border-image-width: 0 2px 2px 2px !important;
  }

  .ant-breadcrumb{
    text-align: right !important;
  }

  .one-item-panel{
    font-weight: bold;
  }
  .ant-collapse-header{
    padding: 0px 0px 0px 0px !important;
  }
  .one-item-panel:hover {    
    color: white;
  }

  .one-item-panel:hover {    
    color: white;
    font-weight: bold;
    /* background: #00223f; */
  }

  .ant-collapse-header > a{
    padding-top: 4px !important;
  }

  .panel_child{
    color: black;
    font-weight: bold;
  }

  .panel_child:hover{
    color: blue;
  }

.panel_header:hover{
  font-weight: bold;
  color: black !important;
}