.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-header{
  padding: 0 0 0 0 !important;
}
.header-row{
  width: 100vw;
  background: white;
}
.header-col-left{
  text-align: left;
}
.header-col-right{
  text-align: right;
}
.header-col-information{
  color: gray;  
  font-size: 12px;
}

.header_login_button{
  color: white;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.header_login_button:hover, .header_login_button:focus{
  color: #40a9ff;    
  font-weight: bold !important;
  border-color: #FCFCFC;
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;    
}

.ant-card-head-title { 
  text-align: left !important;
}

.ant-breadcrumb {
  /* text-align: left !important; */
}

.ant-table-header{
  border-bottom: double #c7daff !important;
}

.ant-table-small .ant-table-thead > tr > th{
  background-color: #f0f4ff !important;
  color: rgb(0, 0, 0) !important;
  /* font-weight: bold; */
}

.ant-table-small .ant-table-tbody > tr > th{
  /* background-color: #ffffff ; */
  font-weight: bold;
}

.ant-table-row > td:hover{
  background: #f5f5f5 !important;
  font-weight: 600 !important
}
.ant-table-cell{
  background: #FFFFFF !important;
}

.button_reg {
  border: 1px outset !important;
  background: #FAFAFA !important;
  color: rgb(41, 88, 243) !important;
  font-size: 14px !important; 
  border-radius: 4px !important
}
.button_mod {
  border: 1px outset !important;
  background: #FAFAFA !important;
  color: rgb(46, 133, 68) !important;
  font-weight: bold !important;
  font-size: 15px !important; 

  border-radius: 4px !important
}
.button_del {
  border: 1px outset !important;
  background: #FAFAFA !important;
  color: rgb(156, 38, 38) !important;
  font-weight: bold !important;
  font-size: 15px !important; 
  border-radius: 4px !important
}

.ant-modal-header{
  background: linear-gradient(75deg, rgba(255,242,204,1) 0%, rgba(0,176,80,1) 15%, rgba(0,112,192,1) 50%, rgba(0,176,80,1) 85%, rgba(255,242,204,1) 100%) !important;
}

.ant-modal-title{
  color: white !important;
  font-size: 18px !important;
  font-weight: bold !important;
}
.ant-modal-close-x{
  display: none !important;
}

.modal-input {
  margin-bottom: 20px !important;
}
.modal-input-col{
  text-align: right !important;
}
.ant-breadcrumb-separator{
  color: black !important;
}

.footer_img{
  text-align: right;
}

.modal_search_title{  
  font-size: 13px;
  font-weight: bold;
  text-align: center;  
  color: rgb(30, 82, 223);
}
.modal_search_content{
  font-size: 13px;  
}

.ant-list-item{   
  padding: 0 0 0 0 !important;
  margin-left: 5px !important;    
  margin-top: 5px !important;    
  margin-bottom: 10px !important;  
} 

.ant-drawer-header{
  background: linear-gradient(75deg, rgba(255,242,204,1) 0%, rgba(0,176,80,1) 15%, rgba(0,112,192,1) 50%, rgba(0,176,80,1) 85%, rgba(255,242,204,1) 100%) !important;  
}
.ant-drawer-title{
  color:white !important
}

.ant-divider-no-border{
  border-top: 0px !important;
  height: 0px;
}

.TCell-Bold{
  font-weight: bold;
}

.table-title{  
  color: #2a538b;
  background: #edf3f9 !important;
}
.table-search{
  border: 1px solid #dcdcdc ;
}

.table-modify-title{
  text-align: right;
}

.rdw-editor-main{
  padding: 5px 5px 5px 5px;
  background: white !important;
}
.rdw-editor-wrapper{
  border: 1px solid rgba(211, 211, 211, 0.945);
}

.rdw-editor-toolbar{
  border-bottom: 1px solid rgba(211, 211, 211, 0.945);
  margin-bottom: 0px !important;
}

.home_search{
  border-radius: 12px !important;
}
div.ant-table-header.ant-table-sticky-holder > table > thead > tr > th{
  /* background: rgb(86, 145, 255) !important;   */
  background: #edf3f9 !important;  
  color: #2a538b !important;
  border:0;
}

.ant-btn-primary{
  /* background: rgb(10, 155, 10) !important;   */
  border:0 !important;
}
.ant-dropdown{  
  margin-top:-50px !important
}

.slick-dots{
  visibility: hidden !important;
}

.table-vd-analysis > div > div > div {
  margin-left: -8px !important;
}

.ant-checkbox-wrapper{
  margin-left: 0px !important;
}

.home_search_guide{
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 30px !important;
}